[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
twitchapi = "*"
numpy = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = {extras = ["standard"],version = "*"}
twitter = "*"
pygithub = "*"
peewee = "*"
python-jose = {extras = ["cryptography"],version = "*"}
aioredis = "*"
brotli-asgi = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
