[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
twitchapi = "*"
numpy = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = {extras = ["standard"],version = "*"}

[requires]
python_version = "3.7"
